body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1a1223, #2c1e3f);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #1a1223;
}

.container {
  border: 5px solid #d084e5;
  border-radius: 50px;
  width: 40rem;
}

#question {
  font-weight: 700;
  font-size: 1rem;
  color: #9d9abe;
  width: 100%;
  padding: 3rem;
  border-bottom: 5px solid #d084e5;

  border-radius: 50px;
}
.answers {
  border-radius: 50px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.options {
  font-size: 1.1rem;
  font-weight: 700;

  border-radius: 50px;

  padding: 1rem 0;
  color: #9d9abe;
  border: 5px solid #d084e5;
  width: calc(50% - 0.5rem);
  box-sizing: border-box;
}
.options:hover {
  background-color: #34264a;
  cursor: pointer;
  transform: scale(1.02);
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.correct {
  border: 5px solid #f5e98e;
}

.wrong {
  border: 5px solid red;
}

.container,
.bar {
  width: 90%;
  max-width: 40rem;
}

.bar {
  margin-top: 4rem;
  border-radius: 99px;
  background-color: #4e3a63;
}
.progress {
  background-color: #e7aaff;
  padding: 3px 0px;
  border-radius: 99px;
  width: 0%;
  transition: all 0.2s ease-in-out;
}
