body {
  
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
   background-color:#1a1223  ;
}

.container {
  border: 5px solid #d084e5;
  border-radius: 50px;
  width: 40rem;
 
}

#question {
  font-size: 1rem;
  color: #9d9abe;
  width: 100%;
  padding: 3rem;
  border-bottom: 5px solid #d084e5;
  
    border-radius:  50px ;
}
.answers {
  border-radius: 50px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.options {
  font-size: 1.1rem;
  font-weight: 700;
 
  border-radius: 50px;
 
  
  padding:  1rem 0;
  color: #9d9abe;
  border: 5px solid #d084e5;
  width: calc(50% - 0.5rem);
  box-sizing: border-box;
}
